.video1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto; 
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    padding: 1.25rem; 
    box-sizing: border-box;
}

.checkbox {
    margin-top: 1.25rem; 
    text-align: center;
    
}

.checkbox h1 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem; 
}

.checkbox div {
    display: inline-block;
    margin: 0 1.25rem; 
}

.checkbox input[type="checkbox"] {
    margin-right: 0.3125rem;
    
}

.checkbox label {
    font-size: 1.125rem; 
}

.next-button {
    margin-top: 1.25rem; 
    padding: 0.625rem 1.25rem; 
    background-color: #f499a7;
    color: rgb(24, 22, 24);
    border: none;
    border-radius: 0.25rem; 
    cursor: pointer;
}

.next-button:hover {
    background-color: #ef9ca8;
}

@media (max-width: 768px) {
    .video1 {
        padding: 1.25rem; 
    }

    .checkbox h1 {
        font-size: 1.25rem; 
    }

    .checkbox div {
        margin: 0 0.625rem; 
    }

    .checkbox label {
        font-size: 1rem;
    }

    .next-button {
        padding: 0.5rem 1rem; 
    }
}

@media (max-width: 480px) {
    .checkbox h1 {
        font-size: 1.125rem; 
    }

    .checkbox div {
        display: block;
        margin: 0.625rem 0; 
    }

    .checkbox label {
        font-size: 0.875rem; 
    }

    .next-button {
        padding: 0.375rem 0.75rem;
    }
}

/* Form */
.uploadform {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.form-container {
    padding: 1.875rem; 
}

.form-container h1 {
    text-align: center;
    margin-bottom: 1.25rem;
}

.form-group {
    background: #f8f9fd;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 2.5rem; 
    padding: 1.5625rem 2.1875rem; 
    border: 0.3125rem solid rgb(255, 255, 255); 
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 1.875rem 1.875rem -1.25rem; 
    margin: 1.25rem;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.3125rem; 
}

.form-control {
    width: 100%;
    background: white;
    border: none;
    padding: 0.9375rem 1.25rem; 
    border-radius: 1.25rem; 
    margin-top: 0.9375rem;
    box-shadow: #cff0ff 0px 0.625rem 0.625rem -0.3125rem;
    border-inline: 0.125rem solid transparent; 
}

.gender-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
}

.gender-group label {
    margin-right: 0.9375rem;
    justify-content: space-evenly;
}

.form-check {
    display: flex;
    align-items: center;
    margin-right: 0.9375rem; 
    border-color: black;
}

.form-check-label {
    margin-left: 0.3125rem; 
}

.upload-container {
    text-align: center;
    margin-top: 1.25rem; 
    color: #4864f0;
}

.labelFile {
    color: #4864f0;
    display: inline-block;
    padding: 1.25rem; 
    border: 0.125rem dashed #460b66;
    cursor: pointer;
}

.labelFile:hover {
    background-color: #f499a7;
}

.labelFile input[type="file"] {
    display: none;
}

.submit-button {
    margin-top: 1.875rem; 
    padding: 0.75rem 1.5625rem; 
    background-color: #f499a7;
    color: #000000;
    border: none;
    border-radius: 1.5625rem; 
    cursor: pointer;
    font-size: 1.125rem; 
}

.submit-button:hover {
    background-color: #ff9ea9;
}

@media (max-width: 768px) {
    .gender-group {
        flex-direction: column;
    }

    .gender-group label {
        margin-right: 0; 
        margin-bottom: 0.5rem; 
    }
}

/* modal */

.button {
    background-color: #8dbdf0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #8dbdf0;
}

.modal-content {
    border-radius: 8px;
}

.modal-header {
    border-bottom: none;
}

.modal-header .close {
    outline: none;
}

.modal-body {
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
}

.modal-footer {
    border-top: none;
    justify-content: center;
}

.modal-footer .btn-secondary {
    width: 100px;
}