a {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.text {
  /* font-family: 'Merriweather Sans', sans-serif; */
  position: relative;
  /* @font-face {
    font-family: 'OpenDyslexicBold'; 
    src: url('../open_dyslexic/open_dyslexic/OpenDyslexic-Bold.otf') format('opentype'); 
  } */
}
/* @font-face {
  font-family: 'OpenDyslexicBold';
  src: url('../open_dyslexic/open_dyslexic/OpenDyslexic-Bold.otf') format('opentype'); 
} */


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container-fluid.home-container {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

  /* .row {
    height: 100%;
  } */

.family {
  margin-left: 10%;
  mix-blend-mode: multiply;
}

 .home-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
}



/* @media (max-width: 768px) {
  .home-overlay-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .home-overlay-text {
    top: 9%; 
    left: 10%; 
    transform: translateY(0); 
    font-size: 1.2rem;
  }

  .home-background-image {
    background-position: 50% 50%; 
    width: 49vh;
    
    
  }
} 


@media (max-width: 768px) {
  .home-background-image {
    width: 100%;
    height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0.5rem;
  z-index: 1;
  background-size: cover;
  }
} */


/* foot */
.home-background-image {
  width: 100%;
  display: block;
}

.home-container {
  position: relative;
  min-height: 100vh;
}

.icon-grid {
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: 100%;
  margin-top: 2rem;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 1rem 0.5rem; 
}

.footer-link {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  width: 5rem;
  height: 5rem;
  margin-top: 1rem; 
}

.footer-link strong {
  display: block;
  margin-bottom: 0.5rem;
}

@media (min-width: 769px) {
  .icon-grid {
    padding: 0.5rem; 
    
  }
}
